<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/stylesAdmin.css">
  <title>Document</title>
</head>
  <body>
    
    <body>
      <header id="top-menu">
        <div class="logo">Configuração de Sorteios</div>
        <nav>
          <ul>
            <li><a href="acessoAdmin.html">Dashboard</a></li>
            
            <li>
              <a href="#">Cadastros</a>
              <ul class="submenu">
                <li><a href="carrinhosCad.html">Carrinhos Cadastrados</a></li>
                <li><a href="usuarios.html">Usuários Cadastrados</a></li>
                <li><a href="sorteios.html">Sorteios Realizados</a></li>
                <li><a href="sorteioParticipante.html">Participantes dos Sorteios</a></li>
              </ul>
            </li>
            
            <li><a href="#">Relatórios</a></li>
          </ul>
        </nav>
      </header>

    <div id="container">
      <main>
        <h1>Bem-vindo, Administrador!</h1>
        <p style="text-align: center;">Você tem acesso total ao sistema.</p>
      </main>
    </div>

  </body>
</html>
  